<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css and js/Money convertor.css">
    <title>Currency Converter</title>
</head>
<body>
    <div class="container">
        <div class="header">
          <h1>Currency Converter</h1>
        </div>
        <div class="date"></div>
        <ul class="currencies"></ul>
        <button class="add-currency-btn"><i class="fas fa-long-arrow-alt-left"></i>Add Currency</button>
        <ul class="add-currency-list"></ul>
      </div>
    <script src="css and js/Money convertor.js"></script>

</body>
</html>