<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp on TRAVL.com</title>
	<link rel="shortcut icon" href="css and js/login img/13.png" type="image/x-icon">
	<link rel="stylesheet" href="css and js/login css/style.css">
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="app.js"></script>
{{!-- <meta name="google-signin-client_id" content="810815498953-0vdj4up0bmd2rao9sfjcof3cvgjatrcr.apps.googleusercontent.com"> --}}
</head>
<body>
    <h2>LOGIN</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register" method="POST">
			<h1>Create Account</h1>
			<div class="social-container">
					<div class="flip-card">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							{{!-- <a href="#"  class="fa fa-facebook"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-google"></a> --}}
							<div class="flip-card-back">
								{{!-- <a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a>
								
								<a href="#" class="fa fa-google"></a> --}}
							{{!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
						<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  } --}}
</script>
							</div> 
						</div>
					</div>
				</div></div>
				<span>or use your email for registration</span>
				<input type="text" name="Name" placeholder="Name" required/>
				<input type="email" name="Email" placeholder="Email" required/>
				<input type="password" name="Password" placeholder="Password" required/>
				<input type="password" placeholder="Confirm Password" name="ConfirmPassword" required/>
				
				<input type="submit" onclick="popup()" name="Sign Up" class="btnsd" value="Sign Up">
				
				<a class="abtn"  href="/login">Sign In</a>
					<script>
    function popup(){
      swal("Good", "You data is secure with ous", "success")
    }
</script>
			</form>
			
		</div>

	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			<a href="/login">	<button  class="ghost" id="signIn">Sign In</button></a>

			</div>
		</div>
	</div>
</div>
	</div>

<!-- 
      <footer>

        <div class="center">

        copyright &copy; www.trevl.com. ALL RIGHTS RESERVED

        </div>
      </footer> -->   <footer>
            <span>Created By <a href="/">Sourabh Dhalia</a> |  <span >copyright &copy | www.trevl.com |</span> 2020 All rights reserved.</span>
        </footer>
<script src="css and js/login js/effect.js">
	
</script>
{{!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
 --}}

        

</body>
</html>