<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsongmo Lake</title>
    <link rel="stylesheet" href="/tsongmo lake/style.css">
    <link rel="shortcut icon" href="/css and js/data photos/13.png" type="image/x-icon">


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- <script>alert(" !!!!!!!!!!!!!!!!! tab on login!!!!!!!!!!!!!!!!!!!!! ");</script> -->
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  
  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  
  <style>
                .modal{
              max-width: 969px;
          box-sizing: border-box;
          width: 100%;
          transition: all .4s ease-in-out;
          };

@media (max-width:1025px)
{
          .modal{
          
          width: 100%;
          };
}
@media (max-width:375px)
{        .modal{
            width: 100%;
    background: none;
    height: fit-content;
    color: whitesmoke;
          };
          .modal .mb-40 iframe{
          
      
                       position: relative;
                width: 50%;
                height: 50%;
               
    background: none;
    height: fit-content;
    color: whitesmoke;
          };
          
}

      </style>
</head>

<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="box">

            <div class="flip1-card">
                <div class="flip1-card-inner">
                    <div class="flip1-card-front">


                        <div class="logo"><a href="/"><img src="/css and js/data photos/logo.png" alt="LOGO"
                                    style="height: 90px; float: left;">
                            </a>

                            <div class="flip1-card-back">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav-list" class="menu">


                <li><a href="#facts" class="nav-list-btn">Facts

                    </a></li>
                <li><a href="#food" class="nav-list-btn">Food</a>

                </li>
                <li><a href="#myths" class="nav-list-btn">Myths</a></li>
                <li><a href="#map" class="nav-list-btn">Maps</a></li>
                <li><a href="#about" class="nav-list-btn">About</a></li>
                <li><a href="#contact" class="nav-list-btn">Contact us</a></li>
                <!-- <li><a href="login page/1stpage.html" class="nav-list-btn">Login</a></li>
          -->  </ul> 

                <div class="nav-list-btn">
                    <i class="fas fa-bars"></i>

                </div>
        </div>

    </nav>

    <!-- home section -->

    <section class="home" id="home">
        <div class="box">
            <div class="hc">
                <div class="text-1">Hi</div>
                <div class="text-2">World is Your's</div>
                <div class="text-3">You Should <span class="typing "id="typ"><script>
                </script></span></div>

            </div>
            {{!-- <div class="search">
                <form action="">
                    <input type="text" class="search1" placeholder="Search site">
                    <button class="btn1" type="button">Search</button>
                </form>
            </div> --}}
              <div class="wrapper">
                <div class="search-input">
                  <a href="" target="_blank" hidden></a>
                  <input type="text" placeholder="Type to search..">
                  <div class="autocom-box">
                    <!-- here list are inserted from javascript -->
                    <!-- {{!-- <li><a href="/TAJ/taj1.html">taj mahal</a></li>
                    <li><a href="/public/ellora caves/ellora.html">ellora</a></li>
                    <li><a href="/public/tsongmo lake/tsogmolake.html">tsogmo lake</a></li>
                    {{!-- <li><a href="/TAJ/taj1.html">taj mahal</a></li> --}}
                    <li><a href="/public/amerfort/amer-fort/amer.html"></a></li> --}}
          
                    {{!-- <li><a href="">taj mahal</a></li> --}} -->
          
                  </div>
                  <div class="icon"><i class="fas fa-search"></i></div>
                </div>
              </div>
        </div>
        <div class="end">
            <div class="mouse">

            </div>
        </div>
    </section>

    <!-- <div>
        <h1 id="why">
            Amer fort
        </h1>
        <ul class="hhh">
            <li> -->
                <Aside id="facts">
                    <div >
        
                                <div class="about-sectionf" id="aboutf">
                                    <div class="inner-containerf">
                                        <h1 id="abthpf">Facts</h1>
                                        <p class="tx1f">
                                            <div class="skillsf">
                                                <b>Tsomgo Lake</b> also known as Tsongmo Lake or Changu Lake is a glacial lake in the East Sikkim
                                                district of
                                                the Indian, some 40 kilometres from the capital Gangtok and is one of most beautiful lakes in India The
                                                lake remains frozen during the winter season.
                                           
                                        <br>
                                        The lake surface reflects different colours with change of seasons and so is seen in a different colour
                                        every season. Buddhist monks prognosticated after studying the changing colours of the
                                        lake.    <br>

                                        The lake is the venue for the Guru Purnima festival which is also the Raksha Bandhan festival when the
                                        faith healers known as Jhakris of Sikkim assemble at the lake area to derive benefits from the healing
                                        qualities of the lake waters.
                                    <br>          Alpine forests cover the catchment of the lake. After the winter season ends, the
                                    periphery of lake has blooms of flower species of rhododendrons,
                                    primulas, blue and yellow poppies and so forth. Also seen in the precincts of the lake are
                                    several species of birds including Brahminy ducks. Wildlife includes the red panda.
                          
      <br>
      Tourist attractions at the lake site include joy rides on decorated yaks and mules where kiosks offer
      variety of food and drinks. There is also a small Shiva temple on the bank of the lake too hindu
      travelers.
 
<br> 
Lake is located in a restricted area ,it is essential for all Indians visiting the area to obtain
permits. In case of foreign nationals special permit is essential.


<br>
The road to Nathu La(which is a mountain pass in Himalayas) skirts the lake on the northern side. The
Chinese border crossing is only some 5
kilometres in a straight line, but about. 18 kilometres by road.

<br>
<br>
        <!-- <button data-modal-target="#modal1" class="btn1" style="width: 120px; float: right;">More about Facts</button> -->


        <!-- <a href="https://en.wikipedia.org/wiki/Amer_Fort" target="_blank" class="wiki">Read more</a> -->
        <div id="ex1" class="modal">
            <h1>Facts</h1>
            <p class="mb-40">   <iframe src="https://en.wikipedia.org/wiki/Lake_Tsomgo"  width="900px" height="500px" frameborder="0" style="border: solid 2px" allowfullscreen="" aria-hidden="false" frameborder="0"></iframe>
                <a href="#" rel="modal:close" class="btn-min">Close</a>
          </div>
        <div class="bo">
              <!-- Link to open the modal -->
              <a href="#ex1" rel="modal:open" class="btn1"  style="width: 120px; float: right; text-align: center;     height: 34px;
              padding: 7px;
          ">Read More</a>
        
                 
          </div>
        
    </p>
</div>
</div>
</div>

</div>
</Aside>
        <!-- <h1 id="whyy">
            Foods
        </h1>
        <ul class="hhh"> -->
            <Aside id="food">
                <div>

                        <div class="about-sectionr" id="aboutr">
                            <div class="inner-containerr">
                                <h1 id="abthpr">       Foods          </h1>
                                <p class="tx1f">
                                    <div class="skillsf">

                                        <b> Gundruk </b> is a fermented leafy green vegetable and a popular food in Nepal and sikkim. It is a
                                        national dish.
                                        Gundruk is obtained from the fermentation of leafy vegetables. It is served as a
                                        side dish with the main meal and is also used as an appetizer.
                               
         <div id="ex2" class="modal"> <br>
                                            <h1>Detail</h1>
                                            <p class="mb-40">  <iframe src="https://en.wikipedia.org/wiki/Gundruk"  width="900px" height="500px" frameborder="0" style="border: solid 2px" allowfullscreen="" aria-hidden="false" frameborder="0"></iframe>
                                            </p>
                                            <a href="#" rel="modal:close" class="btn-min">Close</a>
                                          </div>
                                        <div class="bo">
                                              <!-- Link to open the modal -->
                                              <a href="#ex2" rel="modal:open" class="btn2" style="width: 120px; float: right; text-align: center;">read</a>
                                        
                                                 
                                          </div>
<br>     <b> Dhindo </b> is a staple meal in various parts of Nepal[1] and the Sikkim and Darjeeling regions
of India. Though it is a staple food in Nepal, dhindo has previously been seen as an inferior food
compared to rice, and was associated with low status. The inclusion of dhindo on urban restaurant
menus has coincided with a rise in the food's prestige, which are now recognised for its nutritional
advantage.

        <br> 
                <!-- <button data-modal-target="#modal3" class="btn2" style="width: 120px; float: right;">Read about Food</button> -->
                <div id="ex3" class="modal">
                    <h1>Detail</h1>
                    <p class="mb-40"> <iframe src="https://en.wikipedia.org/wiki/Dhindo" target="_blank"  width="900px" height="500px" frameborder="0" style="border: solid 2px" allowfullscreen="" aria-hidden="false" frameborder="0"></iframe></p>
                    <a href="#" rel="modal:close" class="btn-min">Close</a>
                  </div>
                <div class="bo">
                      <!-- Link to open the modal -->
                      <a href="#ex3" rel="modal:open" class="btn2" style="width: 120px; float: right; text-align: center;">read</a>

<br>                <br>      
 <!-- <button data-modal-target="#modal5" class="btn1" style="width: 120px; float: right;">More about Foods</button> -->
 <div id="ex4" class="modal">
    <h1>Foods</h1>
    <p class="mb-40"> <iframe src="https://www.tripadvisor.in/RestaurantsNear-g659796-d1204519-oa30-Tsomgo_Lake-Gangtok_East_Sikkim_Sikkim.html"  width="900px" height="500px" frameborder="0" style="border: solid 2px" allowfullscreen="" aria-hidden="false" frameborder="0"></iframe>
</p>
    <a href="#" rel="modal:close" class="btn-min">Close</a>
  </div>
<div class="bo">
      <!-- Link to open the modal -->
      <a href="#ex4" rel="modal:open" class="btn1"  style="width: 150px; float: right; text-align: center;     height: 34px;
      padding: 7px;
  " >Read More</a>

        </p>
    </div>
</div>
</div>


<br>


</div>
</Aside>
</div>

    <Aside id="myths">
        <div>
          
                <div class="about-sectionf" id="aboutf">
                    <div class="inner-containerf">
                        <h1 id="abthpf">Myths</h1>
                        <p class="tx1f">
                            <div class="skillsf">
<!-- 
        <h1 id="whyyy">
            Myths
        </h1>
        <ul class="hhh">
            <li> -->
                The lake waters is said to mythical healing powers. Locals believe that one dip in the lake can heal any
                skin rashes in one day.
          
              <br>
              Local legend has it that in ancient times, the Buddhist saints used to predict the future by observing
              the changing colour of the lake.
      
        <br>
        It is said if the lake was dark and dull in colour, it implied gloomy times ahead. The lake is of
        significant
        importance to the locals and prayers are often offered.

<br>               The changing of color of the lake is still undefined by science. There are too many abnormalities in the
area.
<br>
The lake in is many legends in Hinduism too. The lake is a little distance from kanchanjunga which is
world's 3rd largest peak. Kanchanjunga is sometimes referred as home of Lord Shiva in Hinduism so the
lake which changes colour is obvious to come in legends. The legend is this place was bathing place for
Lord Shiva and thats why it has healing properties.
<br>
</p>
       </div>
   </div>
   </div>
 
   
   </div>
       </Aside>


    <section id="map">
   
        <!-- <section id="guj"> -->
<div class="m">
    
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13745.160714151438!2d79.96282113239002!3d30.541104607267666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a7a9b1b9aed97b%3A0xc6505ec96e4dc4bb!2sNanda%20Devi!5e0!3m2!1sen!2sin!4v1608297240504!5m2!1sen!2sin" width="800" height="450" frameborder="0" style="border: solid 2px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>     -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1460.824155739043!2d88.76916277341428!3d27.366563983546968!2m3!1f337.875!2f21.401102779993636!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x39e6b293c4110b85%3A0xf5565108538e037a!2sTsongmo%20Lake!5e1!3m2!1sen!2sin!4v1608725396953!5m2!1sen!2sin" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
              <div class="y">
                <iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/zMr8yYkbPBo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
              </div>  
        <!-- </section> -->


</section>
     </div>

        </div>





    <!-- 'about' section start -->


    <div class="about-section" id="about">
        <div class="inner-container">
            <h1 id="abthp">About Us</h1>
            <p class="tx1">
               I am student of J.C.Bose UST , Faridabad , Haryana Btech Computer Engineering 2nd year 3rd semester class : CE32  , Sourabh Dhalia .
                I learn Frontend and Backend Both in Web Development and this site is our Porject.
                I have learned HTML, Handlebars, CSS, JAVA Sript,NodeJS ,MongoDB etc in our journey 
  
            </p>
            <div class="skills">



                <span class="sp"> | Sourabh Dhaia |</span>
                <span class="sp">Minor Porject</span>
                <span class="sp">| 19001003127 |</span>
                <span class="sp">CE32</span>

            </div>
        </div>
    </div>

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="box">
            <h2 class="title">Contact me </h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">
                        Get in Touch</div>
                    <p>A travel guide is "a person with of information about a place designed for the use of visitors or
                        tourists". </p>
                    <p>It will usually include information about sights, accommodation,restaurants, transportation, and
                        activities. Maps of varying detail and historical and cultural information are often included.
                    </p>

                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">
                                    Name</div>
                                <div class="sub-title">
                                    Sourabh Dhalia </div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">
                                    Address</div>
                                <div class="sub-title">
                                    J.C.Bose UST, YMCA, Faridabad, Haryana.</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">
                                    Email</div>
                                <div class="sub-title">
                                    abc@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">
                        Message me</div>
                   <form action="https://formspree.io/f/xoqppdyq" method="POST" accept-charset="UTF-8">
                                       <div class="fields">
                        <div class="field name">
                            <input type="text" name="Name" placeholder="Name" required>
                        </div>
<div class="field email">
                            <input type="email" name="Email" placeholder="Email" required>
                        </div>
</div>
<div class="field">
                        <input type="text" name="Subject" placeholder="Subject" required>
                    </div>
                        <div class="field textarea">
                            <!-- Due to more textarea, I got an error so I changed the tag name of this textarea into changeit. -->
                            <changeit cols="30" rows="10" placeholder="Message.." required></changeit>
                        </div>
                        <div class="button">
                            <button type="submit">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
   
    <footer>
        <span>Created By <a href="#home">Sourabh Dhalia </a> | <span class="far fa-copyright"> |
                www.trevl.com |</span> 2020 All rights reserved.</span>
    </footer>
    <script src="/css and js/data js/script.js"></script>
    <script>
        
        $(document).ready(function(){
            $('a[href="#ex1"]').click(function () {
            
            
            $(this).modal({
          fadeDuration: 250
        
        });
            return false;
        });
        $('a[href="#ex2"]').click(function () {
            
            
            $(this).modal({
          fadeDuration: 250
        
        });
            return false;
        });
        $('a[href="#ex3"]').click(function () {
            
            
            $(this).modal({
          fadeDuration: 250
        
        });
            return false;
        });
        $('a[href="#ex4"]').click(function () {
            
            
            $(this).modal({
          fadeDuration: 250
        
        });
            return false;
        });
        });
            </script>
</body>

</html>