MDBKEY=mongodb+srv://user:password@cluster.example.mongodb.net/travl
SESSION_SECRET=replace-with-a-long-random-secret
EXCHANGE_RATES_API_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
PORT=3000
FORMSPREE_CONTACT_URL=
FORMSPREE_FEEDBACK_URL=
